* {
    box-sizing: border-box;
}

header, footer {
    border: 2px solid orange;
    height: 100px;
    clear: both;
}

section {
    border: 2px solid orange;
    height: 300px;
    width: 33.3333%;
    float: left;
}

.bottom {
    width: 149.99%;
}